@import "bootstrap-4.5.2/scss/bootstrap"

.game-space
  margin: 0 auto

  .board
    display: flex
    flex-direction: column
    background-color: #919049

    .board-row
      display: flex
      flex-direction: row